/* boby con sus margen y color*/

body {
    margin: 0;
    color: mediumspringgreen;
  font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Bungee Inline', cursive;
}

/* menu con su lista desordenada en css*/
.menu {
    background-color: cyan;
}



/* empieza, header con sus div*/
.contenedor2 {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* boton de contacto*/
.boton {
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    border: 2px solid pink;

}
 /* iconos */
 .contenedor {
     background-color: pink;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 .tarjetas {
     width: 260px;
     height: 200px;
     background-color: red;
     border: 1px solid black;
     margin: 10px;
     border-radius: 8px;
     padding: 30px;
     }









     /* mis proyectos*/
     .contenedor3 {
         background-color: darkmagenta;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;

     }
     .tarjetas1 {
         display: flex;
         width: 200px;
         height: 200px;
         background-color: darksalmon;
         margin: 2px;
         border-radius: 8px;
     }
  


